<% @page_title = 'Staff Menu' -%>

<ul class="menu">
	<li><%= link_to('Manage Posts', posts_path) %></li>
	<li><%= link_to('Manage Categories', manage_categories_path) %></li>
	<li><%= link_to('Manage Comments', comments_index_path) %></li>
	<li><%= link_to('Manage Users', users_path) %></li>
	<li><%= link_to('Logout', staff_logout_path) %></li>
</ul>
