<% @page_title = 'Categories' %>

<%= content_tag('p', link_to(' <--- Back', staff_path)) %>

<% form_tag(params[:id].blank? ? categories_url : update_category_path(params[:id]), :method => params[:id].blank? ? :post : :put ) do %>

 <table>
		<tr>
			<th>Name</th>
			<th>Short name</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><%= text_field(:category, :name, :size => 19) %></td>
			<td><%= text_field(:category, :short_name, :size => 20) %></td>
			<td><%= text_field(:category, :description, :size => 40) %></td>
			<td><%= submit_tag(params[:id].blank? ? "create" : "update") %></td>
		</tr>
	</table>
  <% end %>

<table>
	<tr>
		<th>Name</th>
		<th>Short Name</th>
		<th>Description</th>
	</tr>
<% for category in @categories %>
	<tr class="<%= cycle('row1', 'row2') %>">
		<td><%= h(category.name) %></td>
		<td><%= h(category.short_name) %></td>
		<td><%= h(category.description) %></td>
		<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<td><%= link_to 'Destroy', del_category_path(category), :confirm => 'Are you sure you want to remove this category?', :method => :delete %></td>
	</tr>
<% end %>
</table>
