<!DOCTYPE html>
<html>
<head>
  <title>Ruby Padawan's blog<%= ": #{@page_title}" if @page_title %></title>
		<meta name="author" content="Sergey TiSer" />
		<meta name="copyright" content="Copyright 2011" />
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag "style", "scaffold", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
	<body class="public">
		<div id="header">
			<h1><%= link_to("Ruby padawan's Blog", '/', :style => 'text-decoration: none; color: #FFFFFF;') %></h1>
		</div>
    <p id="notice"><%= notice %></p>

		<div id="pagecontent">
			<%#= "<div class=\"notice\">#{flash[:notice]}</div>" if flash[:notice] %>
			<%= yield %>
		</div>
		<div id="footer">
			<p>Copyright 2011-2015</p>
		</div>
	</body>
</html>
